* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* general */

.main-content {
  margin: 0;   
  padding: 20px;
  line-height: 200%;
  text-align: justify;
  background-color: #f8f9fa; 
  border: solid 1px #ccc;
}

.nav-item, 
footer,
.caption {
  font-family: 'Fredericka the Great', cursive;
}

/* navigation */

.navbar-brand {
  font-family: 'Monoton', cursive;
}

/* about me page */
.card-body {
  font-family: 'Waiting for the Sunrise', cursive;
}

.img-thumbnail {
  width: 50%;
  height: atuo;
	margin-left: 25%;
}

/* portfolio page */

.rounded {
  width: 70%;
  height: auto;
  padding-bottom: 5%;
}

.caption {
  position: absolute;
  top: 30%;
  right: 20%;
  padding: 3px;
  background-color: white;
  opacity: 0.6;
  filter: alpha(opacity=60);
  border-radius: 10%;
}

/* contact me page */

form {
  margin: 0 8% 0 8%; 
}

/* footer */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: block;
  background-color:#f8f9fa;
  text-align: center;
  padding: 1%;
}


